/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Fondo oscuro para coincidir con tu diseño */
}

header {
    background-color: #1a1a1a;
    color: #ffff00; /* Amarillo para el texto "XNEGOCIOS" */
    text-align: center;
  
}

header h1 {
    margin: 0;
    text-transform: uppercase; /* Mayúsculas para el logo */
    letter-spacing: 2px; /* Espaciado entre letras */
    background: linear-gradient(to right, #ffff00 50%, #00b7eb 50%); /* Gradiente amarillo-azul */
    -webkit-background-clip: text; /* Efecto de texto con gradiente */
    background-clip: text;
    color: transparent; /* Hace que el texto use el gradiente */
}
.fondo-articulos {
    background-image: url('../Recursos/negocios1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    min-height: 400px;
}

main {
    padding: 1rem;
}

footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para los artículos */
.articulos-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
    gap: 1rem; /* Espacio entre artículos */
    
}

article {
    background-color: rgba(255, 255, 255, 0.96);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto; /* Altura fija para un efecto cuadrado */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
}

h2, h3 {
    color: whitesmoke;
}

a {
    color: darkblue;
    text-decoration: none;
    align-self: flex-end; /* Alinea el enlace al final */
    margin: auto;
}

a:hover {
    background-color: skyblue;
    border-radius: 5px;
    
}

/* Estilos para la sección de noticias */
#noticias {
    padding: 2rem;
}

.noticias-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    gap: 1rem;
}

#noticias article {
    background-color: rgba(255, 255, 255, 0.96); /* Misma transparencia que los artículos */
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 150px; /* Altura más pequeña para noticias */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}